In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('../datasets/automation/stage2/combined.csv')

In [10]:
df = df.dropna()
df = df.drop(['Unnamed: 0'], axis=1)

In [21]:
df.where(df['city'] == 'Mumbai').dropna().mean()

anger      0.149145
disgust    0.183398
fear       0.077464
joy        0.286450
sadness    0.236770
dtype: float64

In [22]:
df.where(df['city'] == 'Delhi').dropna().mean()

anger      0.150643
disgust    0.195292
fear       0.093671
joy        0.266273
sadness    0.265148
dtype: float64

In [23]:
df.where(df['city'] == 'Hyderabad').dropna().mean()

anger      0.164607
disgust    0.263204
fear       0.077180
joy        0.255744
sadness    0.181386
dtype: float64

In [24]:
df.where(df['city'] == 'Chennai').dropna().mean()

anger      0.163002
disgust    0.150353
fear       0.103890
joy        0.216417
sadness    0.291747
dtype: float64

In [28]:
df.where(df['city'] == 'Kolkata').dropna().mean()

anger      0.168872
disgust    0.209437
fear       0.109359
joy        0.249853
sadness    0.221897
dtype: float64